* {
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  margin: 0;
  color: #7B7A7F;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/*ASIDE*/
.aside-container {
  background-color: #354052;
}

.top-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10px 10px;
  border-bottom: 2px solid #2D384A;}

.aside-main,
.aside-admin,
.aside-categories {
  border-bottom: 2px solid #2D384A;
  padding-left: 30px;
}

.aside-main-title {
  margin: 15px 0 15px 0px;
  color: #596679;
  font-size: 12px;
}

.profile-pic {
  background-image: url(assets/leslie.jpg);
  background-position: center;
  background-size: contain;
  height: 100px;
  width: 100px;
  border-radius: 100%
}
.profile-name {
  color: #939EB0;

}

ul {
  padding: 0 0 10px;
  list-style: none;
}

li {
  padding-bottom: 30px;
}

.aside-link {
  height: 25px;
  padding: 0 40px;
  background-repeat: no-repeat;
  background-size: 25px;
  display: flex;
  align-items: center;
  color: #939EB0;
  font-size: 14px;
  text-decoration: none;
}

.aside-link:hover {
  color: #FFFFFF;
}

#home {
  background-image: url('assets/home.svg');
}
#home:hover {
  background-image: url('assets/icon.svg');
}
#jobs {
  background-image: url('assets/briefcase.svg');
}
#jobs:hover {
  background-image: url('assets/briefcase (1).svg');
}
#resume {
  background-image: url('assets/resume.svg');
}
#resume:hover {
  background-image: url('assets/resume (1).svg');
}
#tasks {
  background-image: url('assets/list.svg');
}
#tasks:hover {
  background-image: url('assets/list (1).svg');
}
#calendar {
  background-image: url('assets/calendar.svg');
}
#calendar:hover {
  background-image: url('assets/calendar (1).svg');
}
#users {
  background-image: url('assets/users.svg');
}
#users:hover {
  background-image: url('assets/users (1).svg');
}
#locations {
  background-image: url('assets/facebook-placeholder-for-locate-places-on-maps.svg');
}
#locations:hover {
  background-image: url('assets/placeholder (1).svg');
}
#workflows {
  background-image: url('assets/network.svg');
}
#workflows:hover {
  background-image: url('assets/network (1).svg');
}
#job-boards {
  background-image: url('assets/newspaper.svg');
}
#job-boards:hover {
  background-image: url('assets/newspaper (1).svg');
}
#social {
  background-image: url('assets/share (1).svg');
}
#social:hover {
  background-image: url('assets/share-symbol.svg');
}

.aside-categories {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aside-category {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

#yellow-box {
  background-color: #FBE303;
}
#blue-box {
  background-color: #2AB0FB;
}
#red-box {
  background-color: #EC1B62;
}
#green-box {
  background-color: #00AA88;
}
.checkbox {
	-webkit-appearance: none;
  display: inline-block;
	padding: 8px;
	border-radius: 2px;
}
.checkbox:checked:after {
	content: '\2714';
  color: #000000;
	font-size: 14px;
  outline: none;
}
.checkbox-label {
  color: #939EB0;
  font-size: 14px;
}

/*SEARCH*/
.header-box {
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main {
  background-color: #EDF2F6;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top-search-area {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C2C2C2;
}

.left-search-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #C2C2C2;
}

.search-bar-icon {
  height: 100%;
  width: 75px;
  border: none;
  background-color: inherit;;
  background-repeat: no-repeat;
  display: flex;
  border-right: 1px solid #C2C2C2;
}

#menu {
  background-image: url('assets/menu.svg');
  background-position: 50%;
  background-size: cover;
}

#menu:hover {
  background-color: #16A0F5;
}

.search-bar-container {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 30px;
}
.search-bar {
  width: 90%;
  margin-left: 50px;
  padding: 30px 0;
  border: 0 solid;
  color: #6C6D72;
  font-size: 16px;
  outline: none;
}

/*#short-search-bar {
  display: none;
}*/

.right-search-icons {
  height: 100%;
  display: flex;
  border-right: 1px solid #C2C2C2;
}

#user {
  background-image: url('assets/user-male-black-shape-with-plus-sign.svg');
}
#calendar1 {
  background-image: url('assets/calendar-and-clock.svg');
}
#dots {
  background-image: url('assets/dot-matrix.svg');
}
/*#expand{
  display: none;
  background-image: url('assets/dot-matrix.svg');
}*/
#user,
#calendar1,
#dots,
#expand {
  border-left: 1px solid #C2C2C2;
  background-position: 20px;
  background-size: 50%;
}
#user:hover,
#calendar1:hover,
#dots:hover {
  background-color: #16A0F5;
}

/*HEADER*/
.middle-header-box {
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.main-title {
  margin-bottom: 0;
  padding: 20px 25px 10px;
  font-size: 32px;
  font-weight: 400;
}

.title-container {
  height: 150px;
  display: flex;
  flex-direction: column;
}

.location {
  padding: 0 45px;
  background-image: url('assets/location-fill.svg');
  background-position: 25px;
  background-repeat: no-repeat;
  background-size: 15px;
}

header p {
  margin-top: 0;
  color: #C2C2C2;
}

.preview-post {
  padding: 0 5px;
  color: #6CC5F5;
  text-decoration: none;
}

.header-button-container {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
#open {
  height: 35px;
  width: 80px;
  border: 2px solid #DEE3E9;
  border-radius: 17px;
  background-image: url('assets/circle.svg');
  background-color: #FFF;
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 10px;
  color: #6C6D72;
  font-size: 12px;
  text-align: center;
  margin: 10px;
  padding-top: 5px;
  padding-left: 20px;
}
#ribbon,
#edit,
#delete {
  margin: 10px;
  padding: 15px;
  border: 2px solid #DEE3E9;
  border-radius: 100%;
  background-color: #FFF;
  background-position: 7.5px;
  background-repeat: no-repeat;
  background-size: 15px;
}

#ribbon {
  background-image: url('assets/bookmark-ribbon.svg');
}

#edit {
  background-image: url('assets/pencil-edit-button (3).svg');
}

#delete {
  background-image: url('assets/delete.svg');
}

.lower-header-tabs {
  margin-bottom: 15px;

}

.tab-link {
  margin-left: 30px;
  color: #C2C2C2;
  font-size: 16px;
  text-decoration: none;
}

.tab-link:hover {
   border-bottom: 3px solid #16A0F5;
   padding-bottom: 10px;
}

.graph-container {
  height: 350px;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
.circle-graph-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  display: inline-block;
  width: 45%;
  border-top: 1px solid #DEE3E9;
  border-bottom: 1px solid #DEE3E9;
}

#hr-one {
  margin-left: 40px;
}

#collapse {
  padding: 15px;
  border: 2px solid #DEE3E9;
  border-radius: 100px;
  background-image: url('assets/up-arrow.svg');
  background-repeat: no-repeat;
  background-color: #FFF;
  background-position: 5px;
  background-size: 20px;
}

.bar-graph-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 20px;

}

.circle-graph-button,
.bar-graph-button {
  height: 40px;
  border-radius: 20px;
  border: 2px solid #DEE3E9;
  background-color: #FFFFFF;
  color: #6C6D72;
  font-size: 12px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  width: 200px;
  align-self: center;
}

.circle-graph-one,
.circle-graph-two,
.circle-graph-three {
  height: 175px;
  width: 175px;
  display: inline-block;
  margin: 10px;
  border: 10px solid #DBE5E9;
  border-radius: 100%;
  text-align: center;
}
.circle-graph-one {
  border-color: #4EB8BF #4EB8BF #4EB8BF #D9E5E9;
  border-width: 10px;
}
.circle-graph-two {
  border-color: #D9E5E9 #D9E5E9 #16A0F5 #19A0F5;
  border-width: 10px;
}
.circle-graph-three {
  border-color: #D9E5E9  #D9E5E9  #D9E5E9 #B364B2;
  border-width: 10px;
}

.circle-graph-number {
  margin-bottom: 0;
  padding: 20px 25px 0;
  font-size: 30px;
  font-weight: bold;
}

.circle-graph-text {
  margin: 0 10px 40px;
  padding: 0 20px;
  font-size: 13px;
}

.bottom-container {
  display: flex;
  padding: 10px;
}

.table {
  padding: 25px;
}

table {
  padding: 25px;
  margin-left: 15px;
  background-color: #fff;
  border-collapse: collapse;
}


thead {
  background-color: #6F7E95;
  color: #FFF;
}

.row1,
.row {
  min-width: 200px;
  font-weight: 500;
}
.row1 {
  border: none;
}

td {
  padding: 20px 0;
  font-size: 18px;
}

tr {
  width: 90%;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #D9E5E9;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*RIGHT CONTAINER*/
.right-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  margin-right: 20px;

}

.social-media-links {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sm-links {
  text-decoration: none;
  width: 380px;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: 25px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  background-position-x: 8%;
  background-position-y: 50%;
}
#facebook {
  background-color: #4B6EC1;
  background-image: url('assets/facebook-logo.svg')
}

#twitter {
  background-color: #01AAEF;
  background-image: url('assets/twitter-logo-silhouette.svg')
}

#linkedin {
  background-color: #037FBD;
  background-image: url('assets/linkedin-logo.svg')
}

.job-links,
.widget-container {
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #D9E3E9;
}

.resume-container {
  padding: 20px 0px 20px 0px;
}

#globe-img,
#widget-img,
#send-img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.job-link-container,
.input-container {
  display: flex;
  align-items: center;
}
.job-link-container {
  flex-direction: column;
}
.input-container {
  flex-direction: row;
}

.input-bar {
  height: 50px;
  width: 280px;
}

#resume-email-input {
  width: 380px;
}

#copy-button {
  height: 50px;
  width: 100px;
  border-radius: 3%;
  border-style: none;
  background-color: #42BBBD;
  color: #FFFFFF;
  font-size: 16px;
}

















/*MEDIA QUERIES*/

@media screen and (max-width 1250px) {
  .right-bottom-container-right {
    display: flex;
    flex-direction: column;
  }
  td {
    padding: 25px 0;
  }
  .graph-container {
    height: 800px;
    display: flex;
    flex-direction: column;
  }
  .circle-graph-container {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .circle-graph {
    height: 200px;
    width: 200px;
  }
  .circle-graph-button {
    margin: 0 50px;
  }
  .bar-graph-container {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
  }
  .bottom-container {
    flex-direction: column;
  }
  .right-bottom-container {
    flex-direction: column;
    padding: 25px;
  }
  .social-media-container {
    height: 250px;
    justify-content: space-around;
  }
  #facebook,
  #twitter,
  #linkedin {
    width: 100%;
    align-items: center;
  }
  .job-link,
  .button-widget,
  .upload-resume {
    width:100%;
    padding-bottom: 30px;
  }
  h2 {
    padding-top: 15px;
  }
  .job-link {
    margin-top: 20px;
  }

  .link-container {
    width: 90%;

    }
  }
